.container { 
    display: 'flex';
    gap: '20px';
    margin-top: '10px' ;
     background-image: linear-gradient(50deg,rgb(245, 245, 179) ,rgb(156, 202, 242)  );
    }
    .list{
        list-style: none;  
      
    }
 